test/data
__pycache__
.env
data


.secrets

releasenotes/build
releasenotes/notes/reno.cache
RELEASENOTES.rst

# Packages/installer info
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Other
.stestr/
.tox
.venv
.*.swp
.coverage
cover
AUTHORS
ChangeLog

# Editor files
*~
*.swp